
 @font-face {
	font-family: &#39;Roboto Condensed&#39;;
	src: url(&#39;https://cdn.rawgit.com/guprooon/Webfonts/master/RobotoCondensed/Regular/fonts/RobotoCondensedRegular.woff2&#39;) format(&#39;woff2&#39;),
		 url(&#39;https://cdn.rawgit.com/guprooon/Webfonts/master/RobotoCondensed/Regular/fonts/RobotoCondensedRegular.woff&#39;) format(&#39;woff&#39;),
		 url(&#39;https://cdn.rawgit.com/guprooon/Webfonts/master/RobotoCondensed/Regular/fonts/RobotoCondensedRegular.ttf&#39;) format(&#39;truetype&#39;);
	font-weight: normal;
	font-style: normal;}
@font-face {
    font-family: &#39;Roboto Condensed&#39;;
    src: url(&#39;https://cdn.rawgit.com/guprooon/Webfonts/master/RobotoCondensed/Italic/fonts/RobotoCondensedItalic.woff2&#39;) format(&#39;woff2&#39;),
         url(&#39;https://cdn.rawgit.com/guprooon/Webfonts/master/RobotoCondensed/Italic/fonts/RobotoCondensedItalic.woff&#39;) format(&#39;woff&#39;),
         url(&#39;https://cdn.rawgit.com/guprooon/Webfonts/master/RobotoCondensed/Italic/fonts/RobotoCondensedItalic.ttf&#39;) format(&#39;truetype&#39;);
	font-weight: normal;
	font-style: italic;
}

@font-face {
    font-family: &#39;Roboto Condensed&#39;;
    src: url(&#39;https://cdn.rawgit.com/guprooon/Webfonts/master/RobotoCondensed/Bold/fonts/RobotoCondensedBold.woff2&#39;) format(&#39;woff2&#39;),
         url(&#39;https://cdn.rawgit.com/guprooon/Webfonts/master/RobotoCondensed/Bold/fonts/RobotoCondensedBold.woff&#39;) format(&#39;woff&#39;),
         url(&#39;https://cdn.rawgit.com/guprooon/Webfonts/master/RobotoCondensed/Bold/fonts/RobotoCondensedBold.ttf&#39;) format(&#39;truetype&#39;);
	font-weight: bold;
	font-style: normal;
}
@font-face {
    font-family: &#39;Envy Code&#39;;
    src: url(&#39;https://cdn.rawgit.com/guprooon/Webfonts/master/EnvyCR/envy_code_r-webfont.woff2&#39;) format(&#39;woff2&#39;),
         url(&#39;https://cdn.rawgit.com/guprooon/Webfonts/master/EnvyCR/envy_code_r-webfont.woff&#39;) format(&#39;woff&#39;),
         url(&#39;https://cdn.rawgit.com/guprooon/Webfonts/master/EnvyCR/envy_code_r-webfont.ttf&#39;) format(&#39;truetype&#39;);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: &quot;Material Design Icons&quot;;
    src: url(&quot;https://cdn.rawgit.com/guprooon/webicons/master/fonts/materialdesignicons-webfont.woff2&quot;) format(&quot;woff2&quot;), url(&quot;https://cdn.rawgit.com/guprooon/webicons/master/fonts/materialdesignicons-webfont.woff&quot;) format(&quot;woff&quot;), url(&quot;https://cdn.rawgit.com/guprooon/webicons/master/fonts/materialdesignicons-webfont.ttf&quot;) format(&quot;truetype&quot;);
    font-weight: normal;
    font-style: normal
}
